* {
  box-sizing: border-box;
  
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.2rem;
}

.container {
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.smallbox {
  background-color: rgb(226, 43, 226);
  height: 8vh;
  max-width: 100%;
}

.largebox {
  background-color: rgb(247, 145, 179);
  height: 18vh;
  max-width: 100%;
}

.footer {
  background-color: rgb(182, 182, 154);
  height: 16vh;

  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 2fr 1fr;
    gap: 1rem;
    justify-items: stretch;
    
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-self: center;

    grid-row: 1;
    gap: 1rem;
    width: 95vw;
  }

  .content {
    display: flex;
    flex-direction: row;

    justify-self: center;

    grid-row: 2;
    gap: 1rem;
    width: 95vw;
  }

  .smallbox {
    background-color: rgb(226, 43, 226);
    height: 14vh;
    width: 25vw;
    max-width: 100%;
  }

  .largebox {
    background-color: rgb(247, 145, 179);
    height: 60vh;
    width: 33vw;
    min-width: fit-content;
    grid-row-start: 1;
  }

  footer {
    grid-row: 3;
  }
}
